body{
    background-color: #F8EDE3;
}
img{
    width: 15%;
    height: 700px;
    border-radius: 35%;;
}

video{
    margin-left: 400px;
}

hr{
    border: dotted red 10px;
    border-bottom: 0;
    width: 8%;
    margin : 80px auto;
  }

  .navbar-brand{
    font-size: 250%;
    margin-right: 1150px;
    font-weight: bold;
  }

  #quotes{
    margin: 50px;
  }

  #videos{
    margin-top: 0px;
    margin-bottom: 50px;
  }